/*------------ BASE ------------ */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #424242 url(https://assets.pokemon.com/static2/_ui/img/chrome/body_bg.png);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*delete spinner in input [type=number]*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.cart-widget-icon {
  height: 35px;
}



/*------------ TEMPLATES ------------ */
.main-footer {
  min-height: 240px;
  background-color: #1f1f1f;
  color: white;
}
.main-sections {
  /*background-color: lime;*/
}
.main-sections__slider {
  min-height: 600px;
  background-color: rgb(49, 49, 49);
}
.main-sections__title {
  min-height: 80px;
  max-width: 1024px;
  margin: auto;
  padding: 30px 20px;
  background-color: white;
}
.main-sections__main-banner {
  min-height: 333px;
  background-color: coral;
}
.main-sections__mosaic-grid {
  min-height: 1034px;
  background-color: brown;
}
.main-sections__card-detail{
  min-height: 640px;
  max-width: 1024px;
  margin: auto;
  background-color: white;
}
.main-sections__filters {
  min-height: 700px;
  max-width: 1024px;
  margin: auto;
  padding: 30px 20px;
  color: white;
}
.main-sections__filteredItems {
  min-height: 1300px;
  max-width: 1024px;
  margin: auto;
  padding: 30px 20px;
  background-color: white;
}
.main-sections__main-info {
  min-height: 650px;
  background-color: sienna;
}
.main-sections__news {
  min-height: 320px;
  background-color: teal;
}
.main-sections__pokedex-search {
  background-color: blue;
  min-height: 250px;
}
.main-sections__sortby {
  background-color: beige;
  min-height: 130px;
}
.main-sections__pokedex-results {
  background-color: teal;
  min-height: 1140px;
}
/*.main-sections__order-detail {*/
  /*min-height: 500px;*/
  /*max-width: 1024px;*/
  /*margin: auto;*/
/*}*/



/*------------ HEIGHT/WIDTH ------------ */
.min-h-300px {
  min-height: 300px !important;
}
.h-100px {
  height: 100px !important;
}
.h-200px {
  height: 200px !important;
}
.h-460px {
  height: 460px !important;
}



/*------------ BACKGROUNDS ------------ */
.bg-facebook {
  background-color: #3b5998;
}
.bg-twitter {
  background-color: #44ccf6;
}
.bg-youtube {
  background-color: #ff0000;
}




.white-striped-background {
  background: #fff url(https://assets.pokemon.com/static2/_ui/img/chrome/container_bg.png);
}
.bg-darker-1 {
  background-color: #313131;
}

.center .slick-current {
  background-color: #232323;
  border-radius: .25rem!important;
}
.slick-slide .center__desc {
  display: none;
}
.slick-slide.slick-current .center__desc {
  display: block;
}
.slick-slide .center__image {
  opacity: 0.4;
}
.slick-slide.slick-current .center__image {
  opacity: 1;
}
.slick-prev, .slick-next {
  background-color: #616161;
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 100%;
  padding: 0;
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  border-radius: 8px;
}
